* {
  padding: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-padding-end: 0;
          padding-inline-end: 0;
  -webkit-padding-before: 0;
          padding-block-start: 0;
  -webkit-padding-after: 0;
          padding-block-end: 0;
  margin: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  word-break: normal;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  line-height: 1.4;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 2.9em;
  font-weight: 800;
}

h2 {
  font-size: 2.5em;
  font-weight: 700;
}

h3 {
  font-size: 2.1em;
  font-weight: 600;
}

h4 {
  font-size: 1.7em;
  font-weight: 500;
}

h5 {
  font-size: 1.3em;
  font-weight: 400;
}

h6 {
  font-size: 0.9em;
  font-weight: 300;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, main, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

img, video {
  height: auto;
  max-width: 100%;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

button, input, optgroup, select, textarea {
  font: inherit;
  line-height: 1.4;
  color: inherit;
  -webkit-box-shadow: none;
          box-shadow: none;
  vertical-align: baseline;
  *vertical-align: middle;
  background-color: transparent;
}

button, input {
  line-height: normal;
  overflow: visible;
}

button, select {
  text-transform: none;
}

button {
  cursor: pointer;
  color: inherit;
}

html button[type=button], button[type=reset], button[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

button::-moz-focus-inner, button[type=button]::-moz-focus-inner, button[type=reset]::-moz-focus-inner, button[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button::-moz-focusring, button[type=button]::-moz-focusring, button[type=reset]::-moz-focusring, button[type=submit]::-moz-focusring {
  outline: 1px dotted ButtonText;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}

legend {
  white-space: normal;
  max-width: 100%;
  display: table;
  color: inherit;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

[hidden], template {
  display: none;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.g__fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.g__min {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.g__max {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media only screen and (min-width: 320px) {
  .g1 {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .g1 {
    width: 33.33333%;
  }
}

@media only screen and (min-width: 1252px) {
  .g1 {
    width: 16.66667%;
  }
}

@media only screen and (min-width: 320px) {
  .g2 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .g2 {
    width: 66.66667%;
  }
}

@media only screen and (min-width: 1252px) {
  .g2 {
    width: 33.33333%;
  }
}

@media only screen and (min-width: 320px) {
  .g3 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .g3 {
    width: 100%;
  }
}

@media only screen and (min-width: 1252px) {
  .g3 {
    width: 50%;
  }
}

@media only screen and (min-width: 320px) {
  .g4 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .g4 {
    width: 100%;
  }
}

@media only screen and (min-width: 1252px) {
  .g4 {
    width: 66.66667%;
  }
}

@media only screen and (min-width: 320px) {
  .g5 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .g5 {
    width: 100%;
  }
}

@media only screen and (min-width: 1252px) {
  .g5 {
    width: 83.33333%;
  }
}

@media only screen and (min-width: 320px) {
  .g6 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .g6 {
    width: 100%;
  }
}

@media only screen and (min-width: 1252px) {
  .g6 {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) {
  .g1--max {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .g1--max {
    width: 33.33333%;
  }
}

@media only screen and (min-width: 1024px) {
  .g1--max {
    width: 25% !important;
  }
}

@media only screen and (min-width: 1252px) {
  .g1--max {
    width: 16.66667% !important;
  }
}

@media only screen and (min-width: 320px) {
  .g2--max {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .g2--max {
    width: 66.66667%;
  }
}

@media only screen and (min-width: 1024px) {
  .g2--max {
    width: 50% !important;
  }
}

@media only screen and (min-width: 1252px) {
  .g2--max {
    width: 33.33333% !important;
  }
}

@media only screen and (min-width: 320px) {
  .g3--max {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .g3--max {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .g3--max {
    width: 75% !important;
  }
}

@media only screen and (min-width: 1252px) {
  .g3--max {
    width: 50% !important;
  }
}

@media only screen and (min-width: 320px) {
  .g4--max {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .g4--max {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .g4--max {
    width: 100% !important;
  }
}

@media only screen and (min-width: 1252px) {
  .g4--max {
    width: 66.66667% !important;
  }
}

@media only screen and (min-width: 320px) {
  .g5--max {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .g5--max {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .g5--max {
    width: 100% !important;
  }
}

@media only screen and (min-width: 1252px) {
  .g5--max {
    width: 83.33333% !important;
  }
}

@media only screen and (min-width: 320px) {
  .g6--max {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .g6--max {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .g6--max {
    width: 100% !important;
  }
}

@media only screen and (min-width: 1252px) {
  .g6--max {
    width: 100% !important;
  }
}

@media only screen and (min-width: 320px) {
  .w1 {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .w1 {
    width: 33.33333%;
  }
}

@media only screen and (min-width: 1252px) {
  .w1 {
    width: 20%;
  }
}

@media only screen and (min-width: 320px) {
  .w2 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .w2 {
    width: 66.66667%;
  }
}

@media only screen and (min-width: 1252px) {
  .w2 {
    width: 40%;
  }
}

@media only screen and (min-width: 320px) {
  .w3 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .w3 {
    width: 100%;
  }
}

@media only screen and (min-width: 1252px) {
  .w3 {
    width: 60%;
  }
}

@media only screen and (min-width: 320px) {
  .w4 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .w4 {
    width: 100%;
  }
}

@media only screen and (min-width: 1252px) {
  .w4 {
    width: 80%;
  }
}

@media only screen and (min-width: 320px) {
  .w5 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .w5 {
    width: 100%;
  }
}

@media only screen and (min-width: 1252px) {
  .w5 {
    width: 100%;
  }
}

.h__full {
  height: 100vh;
}

.h__res {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media only screen and (min-width: 1252px) {
  .h__res {
    height: 100vh;
  }
}

.rel {
  position: relative;
}

.fix {
  position: fixed;
}

.abs {
  position: absolute;
}

.stick {
  position: -webkit-sticky;
  position: sticky;
}

.t0 {
  top: 0vh;
}

.b0 {
  bottom: 0vh;
}

.l0 {
  left: 0vh;
}

.r0 {
  right: 0vh;
}

.t1 {
  top: 0.5vh;
}

.b1 {
  bottom: 0.5vh;
}

.l1 {
  left: 0.5vh;
}

.r1 {
  right: 0.5vh;
}

.t2 {
  top: 1vh;
}

.b2 {
  bottom: 1vh;
}

.l2 {
  left: 1vh;
}

.r2 {
  right: 1vh;
}

.t3 {
  top: 1.5vh;
}

.b3 {
  bottom: 1.5vh;
}

.l3 {
  left: 1.5vh;
}

.r3 {
  right: 1.5vh;
}

.t4 {
  top: 2vh;
}

.b4 {
  bottom: 2vh;
}

.l4 {
  left: 2vh;
}

.r4 {
  right: 2vh;
}

.t5 {
  top: 2.5vh;
}

.b5 {
  bottom: 2.5vh;
}

.l5 {
  left: 2.5vh;
}

.r5 {
  right: 2.5vh;
}

.t6 {
  top: 3vh;
}

.b6 {
  bottom: 3vh;
}

.l6 {
  left: 3vh;
}

.r6 {
  right: 3vh;
}

.t7 {
  top: 3.5vh;
}

.b7 {
  bottom: 3.5vh;
}

.l7 {
  left: 3.5vh;
}

.r7 {
  right: 3.5vh;
}

.t8 {
  top: 4vh;
}

.b8 {
  bottom: 4vh;
}

.l8 {
  left: 4vh;
}

.r8 {
  right: 4vh;
}

.t9 {
  top: 4.5vh;
}

.b9 {
  bottom: 4.5vh;
}

.l9 {
  left: 4.5vh;
}

.r9 {
  right: 4.5vh;
}

.t10 {
  top: 5vh;
}

.b10 {
  bottom: 5vh;
}

.l10 {
  left: 5vh;
}

.r10 {
  right: 5vh;
}

.t11 {
  top: 5.5vh;
}

.b11 {
  bottom: 5.5vh;
}

.l11 {
  left: 5.5vh;
}

.r11 {
  right: 5.5vh;
}

.t12 {
  top: 6vh;
}

.b12 {
  bottom: 6vh;
}

.l12 {
  left: 6vh;
}

.r12 {
  right: 6vh;
}

.t13 {
  top: 6.5vh;
}

.b13 {
  bottom: 6.5vh;
}

.l13 {
  left: 6.5vh;
}

.r13 {
  right: 6.5vh;
}

.t14 {
  top: 7vh;
}

.b14 {
  bottom: 7vh;
}

.l14 {
  left: 7vh;
}

.r14 {
  right: 7vh;
}

.t15 {
  top: 7.5vh;
}

.b15 {
  bottom: 7.5vh;
}

.l15 {
  left: 7.5vh;
}

.r15 {
  right: 7.5vh;
}

.t16 {
  top: 8vh;
}

.b16 {
  bottom: 8vh;
}

.l16 {
  left: 8vh;
}

.r16 {
  right: 8vh;
}

.t17 {
  top: 8.5vh;
}

.b17 {
  bottom: 8.5vh;
}

.l17 {
  left: 8.5vh;
}

.r17 {
  right: 8.5vh;
}

.t18 {
  top: 9vh;
}

.b18 {
  bottom: 9vh;
}

.l18 {
  left: 9vh;
}

.r18 {
  right: 9vh;
}

.t19 {
  top: 9.5vh;
}

.b19 {
  bottom: 9.5vh;
}

.l19 {
  left: 9.5vh;
}

.r19 {
  right: 9.5vh;
}

.t20 {
  top: 10vh;
}

.b20 {
  bottom: 10vh;
}

.l20 {
  left: 10vh;
}

.r20 {
  right: 10vh;
}

.wrap {
  margin: 0 auto;
}

.center__max {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1252px) {
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.row, .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.hor__start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hor__end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hor__cen {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hor__btw {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hor__ard {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hor__even {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.ver__start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ver__end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ver__cen {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ver__base {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.o1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.o2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.o3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.o4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.o5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.o6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.p0 {
  padding: 0em;
}

.pY0 {
  padding-top: 0em;
  padding-bottom: 0em;
}

.pX0 {
  padding-right: 0em;
  padding-left: 0em;
}

.pYa0 {
  padding-top: 0em;
}

.pYb0 {
  padding-bottom: 0em;
}

.pXa0 {
  padding-right: 0em;
}

.pXb0 {
  padding-left: 0em;
}

.m0 {
  margin: 0em;
}

.mY0 {
  margin-top: 0em;
  margin-bottom: 0em;
}

.mX0 {
  margin-right: 0em;
  margin-left: 0em;
}

.mYa0 {
  margin-top: 0em;
}

.mYb0 {
  margin-bottom: 0em;
}

.mXa0 {
  margin-right: 0em;
}

.mXb0 {
  margin-left: 0em;
}

.p1 {
  padding: 0.5em;
}

.pY1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.pX1 {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.pYa1 {
  padding-top: 0.5em;
}

.pYb1 {
  padding-bottom: 0.5em;
}

.pXa1 {
  padding-right: 0.5em;
}

.pXb1 {
  padding-left: 0.5em;
}

.m1 {
  margin: 0.5em;
}

.mY1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.mX1 {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.mYa1 {
  margin-top: 0.5em;
}

.mYb1 {
  margin-bottom: 0.5em;
}

.mXa1 {
  margin-right: 0.5em;
}

.mXb1 {
  margin-left: 0.5em;
}

.p2 {
  padding: 1em;
}

.pY2 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.pX2 {
  padding-right: 1em;
  padding-left: 1em;
}

.pYa2 {
  padding-top: 1em;
}

.pYb2 {
  padding-bottom: 1em;
}

.pXa2 {
  padding-right: 1em;
}

.pXb2 {
  padding-left: 1em;
}

.m2 {
  margin: 1em;
}

.mY2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mX2 {
  margin-right: 1em;
  margin-left: 1em;
}

.mYa2 {
  margin-top: 1em;
}

.mYb2 {
  margin-bottom: 1em;
}

.mXa2 {
  margin-right: 1em;
}

.mXb2 {
  margin-left: 1em;
}

.p3 {
  padding: 1.5em;
}

.pY3 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.pX3 {
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.pYa3 {
  padding-top: 1.5em;
}

.pYb3 {
  padding-bottom: 1.5em;
}

.pXa3 {
  padding-right: 1.5em;
}

.pXb3 {
  padding-left: 1.5em;
}

.m3 {
  margin: 1.5em;
}

.mY3 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.mX3 {
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.mYa3 {
  margin-top: 1.5em;
}

.mYb3 {
  margin-bottom: 1.5em;
}

.mXa3 {
  margin-right: 1.5em;
}

.mXb3 {
  margin-left: 1.5em;
}

.p4 {
  padding: 2em;
}

.pY4 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.pX4 {
  padding-right: 2em;
  padding-left: 2em;
}

.pYa4 {
  padding-top: 2em;
}

.pYb4 {
  padding-bottom: 2em;
}

.pXa4 {
  padding-right: 2em;
}

.pXb4 {
  padding-left: 2em;
}

.m4 {
  margin: 2em;
}

.mY4 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.mX4 {
  margin-right: 2em;
  margin-left: 2em;
}

.mYa4 {
  margin-top: 2em;
}

.mYb4 {
  margin-bottom: 2em;
}

.mXa4 {
  margin-right: 2em;
}

.mXb4 {
  margin-left: 2em;
}

.p5 {
  padding: 2.5em;
}

.pY5 {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.pX5 {
  padding-right: 2.5em;
  padding-left: 2.5em;
}

.pYa5 {
  padding-top: 2.5em;
}

.pYb5 {
  padding-bottom: 2.5em;
}

.pXa5 {
  padding-right: 2.5em;
}

.pXb5 {
  padding-left: 2.5em;
}

.m5 {
  margin: 2.5em;
}

.mY5 {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.mX5 {
  margin-right: 2.5em;
  margin-left: 2.5em;
}

.mYa5 {
  margin-top: 2.5em;
}

.mYb5 {
  margin-bottom: 2.5em;
}

.mXa5 {
  margin-right: 2.5em;
}

.mXb5 {
  margin-left: 2.5em;
}

.p6 {
  padding: 3em;
}

.pY6 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.pX6 {
  padding-right: 3em;
  padding-left: 3em;
}

.pYa6 {
  padding-top: 3em;
}

.pYb6 {
  padding-bottom: 3em;
}

.pXa6 {
  padding-right: 3em;
}

.pXb6 {
  padding-left: 3em;
}

.m6 {
  margin: 3em;
}

.mY6 {
  margin-top: 3em;
  margin-bottom: 3em;
}

.mX6 {
  margin-right: 3em;
  margin-left: 3em;
}

.mYa6 {
  margin-top: 3em;
}

.mYb6 {
  margin-bottom: 3em;
}

.mXa6 {
  margin-right: 3em;
}

.mXb6 {
  margin-left: 3em;
}

.p7 {
  padding: 3.5em;
}

.pY7 {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}

.pX7 {
  padding-right: 3.5em;
  padding-left: 3.5em;
}

.pYa7 {
  padding-top: 3.5em;
}

.pYb7 {
  padding-bottom: 3.5em;
}

.pXa7 {
  padding-right: 3.5em;
}

.pXb7 {
  padding-left: 3.5em;
}

.m7 {
  margin: 3.5em;
}

.mY7 {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

.mX7 {
  margin-right: 3.5em;
  margin-left: 3.5em;
}

.mYa7 {
  margin-top: 3.5em;
}

.mYb7 {
  margin-bottom: 3.5em;
}

.mXa7 {
  margin-right: 3.5em;
}

.mXb7 {
  margin-left: 3.5em;
}

.p8 {
  padding: 4em;
}

.pY8 {
  padding-top: 4em;
  padding-bottom: 4em;
}

.pX8 {
  padding-right: 4em;
  padding-left: 4em;
}

.pYa8 {
  padding-top: 4em;
}

.pYb8 {
  padding-bottom: 4em;
}

.pXa8 {
  padding-right: 4em;
}

.pXb8 {
  padding-left: 4em;
}

.m8 {
  margin: 4em;
}

.mY8 {
  margin-top: 4em;
  margin-bottom: 4em;
}

.mX8 {
  margin-right: 4em;
  margin-left: 4em;
}

.mYa8 {
  margin-top: 4em;
}

.mYb8 {
  margin-bottom: 4em;
}

.mXa8 {
  margin-right: 4em;
}

.mXb8 {
  margin-left: 4em;
}

.p9 {
  padding: 4.5em;
}

.pY9 {
  padding-top: 4.5em;
  padding-bottom: 4.5em;
}

.pX9 {
  padding-right: 4.5em;
  padding-left: 4.5em;
}

.pYa9 {
  padding-top: 4.5em;
}

.pYb9 {
  padding-bottom: 4.5em;
}

.pXa9 {
  padding-right: 4.5em;
}

.pXb9 {
  padding-left: 4.5em;
}

.m9 {
  margin: 4.5em;
}

.mY9 {
  margin-top: 4.5em;
  margin-bottom: 4.5em;
}

.mX9 {
  margin-right: 4.5em;
  margin-left: 4.5em;
}

.mYa9 {
  margin-top: 4.5em;
}

.mYb9 {
  margin-bottom: 4.5em;
}

.mXa9 {
  margin-right: 4.5em;
}

.mXb9 {
  margin-left: 4.5em;
}

.p10 {
  padding: 5em;
}

.pY10 {
  padding-top: 5em;
  padding-bottom: 5em;
}

.pX10 {
  padding-right: 5em;
  padding-left: 5em;
}

.pYa10 {
  padding-top: 5em;
}

.pYb10 {
  padding-bottom: 5em;
}

.pXa10 {
  padding-right: 5em;
}

.pXb10 {
  padding-left: 5em;
}

.m10 {
  margin: 5em;
}

.mY10 {
  margin-top: 5em;
  margin-bottom: 5em;
}

.mX10 {
  margin-right: 5em;
  margin-left: 5em;
}

.mYa10 {
  margin-top: 5em;
}

.mYb10 {
  margin-bottom: 5em;
}

.mXa10 {
  margin-right: 5em;
}

.mXb10 {
  margin-left: 5em;
}

.txt___up {
  text-transform: uppercase;
}

.txt___cap {
  text-transform: capitalize;
}

.txt___cen {
  text-align: center;
}

.txt___cenl {
  text-align-last: center;
}

.txt___left {
  text-align: left;
}

.txt___leftl {
  text-align-last: left;
}

.txt___right {
  text-align: right;
}

.txt___rightl {
  text-align-last: right;
}

.txt___just {
  text-align: justify;
}

.txt___justl {
  text-align-last: justify;
}

.txt___iword {
  text-justify: inter-word;
}

.txt___ichar {
  text-justify: inter-character;
}

.txt___ellip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.txt___sm {
  font-size: 80%;
}

.txt___md {
  font-size: 90%;
}

.rad {
  border-radius: 5px;
}

.obj--fit {
  -o-object-fit: cover;
     object-fit: cover;
}

.obj--con {
  -o-object-fit: contain;
     object-fit: contain;
}

.obj--cen {
  -o-object-position: center center;
     object-position: center center;
}

.V3D {
  -webkit-perspective-origin: center center;
          perspective-origin: center center;
}

.V3D1 {
  -webkit-perspective: 100px;
          perspective: 100px;
}

.V3D1 > * {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.V3D2 {
  -webkit-perspective: 200px;
          perspective: 200px;
}

.V3D2 > * {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.V3D3 {
  -webkit-perspective: 300px;
          perspective: 300px;
}

.V3D3 > * {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.V3D4 {
  -webkit-perspective: 400px;
          perspective: 400px;
}

.V3D4 > * {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.V3D5 {
  -webkit-perspective: 500px;
          perspective: 500px;
}

.V3D5 > * {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.V3D6 {
  -webkit-perspective: 600px;
          perspective: 600px;
}

.V3D6 > * {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.V3D7 {
  -webkit-perspective: 700px;
          perspective: 700px;
}

.V3D7 > * {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.V3D8 {
  -webkit-perspective: 800px;
          perspective: 800px;
}

.V3D8 > * {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.V3D9 {
  -webkit-perspective: 900px;
          perspective: 900px;
}

.V3D9 > * {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.V3D10 {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.V3D10 > * {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.z0 {
  z-index: 1000;
}

.z1 {
  z-index: 1001;
}

.z2 {
  z-index: 1002;
}

.z3 {
  z-index: 1003;
}

.z4 {
  z-index: 1004;
}

.z5 {
  z-index: 1005;
}

.z6 {
  z-index: 1006;
}

.z7 {
  z-index: 1007;
}

.z8 {
  z-index: 1008;
}

.z9 {
  z-index: 1009;
}

.z10 {
  z-index: 1010;
}

.z11 {
  z-index: 1011;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/*# sourceMappingURL=main.css.map */