@import './includes/colors';
@import './includes/buttons';
@import './includes/effects';
@import './includes/forms';
@import './includes/tables';

html {
    font-family: 'Lato';
    color: $darkx;
    &[lang=ar] {
        text-align: right;
        // direction: rtl;
    }
}

body {
    background-color: $lightx;
}