.btn {
    &__right, &__cen {
        .btn {
            display: inline-block;
        }
    }
    &__right {
        text-align: right;
    }
    &__cen {
        text-align: center;
    }
    padding: .4em .8em;
    transition: .5s;
    &:hover {
        transform: scale(1.05);
    }
    @each $var, $val in $colors {
        &--#{$var} {
            @extend .btn;
            background: $val;
            color: #ffffff;
        }
        &--#{$var}__line {
            background: transparent;
            @extend .btn;
            border: $val 1px solid;
        }
    }
}