.rotate90 {
    transform: rotate(90deg);
}

.img__size {
    @media (prefers-color-scheme: dark) {
        filter: brightness(0) invert(1);
    }
    height: 1em;
    display: inline-block;
    margin-right: .6em;
}

.link {
    color: $info !important;
}

.iB {
    display: inline-block;
    }
    
.rtl {
    direction: rtl;
}