$align: (
    cen: center,
    left: left,
    right: right,
    just: justify
);

$just: (
    iword: inter-word,
    ichar: inter-character,
);

.txt {
    &__up {
        text-transform: uppercase;
    }
    &__cap {
        text-transform: capitalize;
    }
    @each $var,$val in $align {
        &__#{$var}{
            text-align: $val;
        }
        &__#{$var}l{
            text-align-last: $val;
        }
    }
    @each $var,$val in $just {
        &__#{$var}{
            text-justify: $val;
        }
    }
    &__ellip {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__sm {
        font-size: 80%;
    }
    &__md {
        font-size: 90%;
    }
}